*{margin:0;padding:0;}
img{display:block;}
html,body{height:100%;}
.swiper-container {width: 100%;height: 100%;background:#fff;}  
.swiper-slide{width:100%;height:100%;}
/* 必备 */
.ani{position:absolute;}
/* 分页中的小点 */
.swiper-pagination-bullet {
width: 6px;height: 6px;background: #ff0;opacity: .4;}
.swiper-pagination-bullet-active {opacity: 1;}
.rel{position:relative;}



.page1-left{width:74%;z-index:5;margin-left:-2%;}
.page1-right{width:59%;margin-left:42%;z-index:2;}
.page1-shuzi{z-index:3;margin-top:50%;}
.page1-jiantou{width:30%;margin-left:35%;}


.page1-5{position: absolute;width: 60%;left: 20%;top: 20%;z-index: 100;
	opacity: 0;animation:hanxu 2s 0s forwards;
}
.page1-4{position: absolute;width: 50%;left: 25%;top: 20%;z-index: 100;
opacity: 0;animation:hanxu 2s 2s forwards;}
.page1-3{position: absolute;width: 40%;left: 30%;top: 20%;z-index: 100;
opacity: 0;animation:hanxu 2s 4s forwards;}
.page1-2{position: absolute;width: 50%;left: 25%;top: 20%;z-index: 100;
opacity: 0;animation:hanxu 2s 6s forwards;}
.page1-1{position: absolute;width: 30%;left: 35%;top: 20%;z-index: 100;
opacity: 0;animation:hanxu 2s 8s forwards;}

@keyframes hanxu{
	0% {opacity: 0;transform: scale(1)}
	50% {opacity: 1;transform: scale(1.2)}
	100% {opacity: 0;transform: scale(1)}
} 


.page1-bg{width:100%;margin-top:5%;}
.page1-mask{top: 0;}
.page2-bg{width:100%;margin-top:5%;}
.page2-txt1{margin-top:60%;width:100%;margin-left:20%;}
.page1-txt1{margin-top:40px;width:100%;margin-left:20%;}
.page2-a{margin-top:20%;width:30%;
}
.page2-p1{width:10%;margin-left:45%;margin-top:15%;}
.page2-txt2{margin-top:80%;width:100%;margin-left:20%;}
.page2-txt3{margin-top:100%;width:100%;margin-left:20%;}

.page4-bg{width:100%;margin-top:5%;}
.page5-bg{width:100%;}
.page5-mask{width:100%;top:0;z-index:5;display:none;}
.page5-btn{width:20%;left:40%;margin-top:160%;}

.page4-a{width:60%;margin-left:20%;margin-top:100%;}
.page4-b{width:60%;margin-left:20%;margin-top:110%;}
.page4-c{width:60%;margin-left:20%;margin-top:120%;}


@media screen and (max-height:480px){
	  .page1-adborn1{width: 15%;}
}


@-webkit-keyframes cloud {
	from{opacity:1;}
	to{left: -100%;opacity:1;}
}
// a1{animation:animate1 1s infinite;-webkit-animation:animate1 1s infinite;position:absolute;}
// @keyframes animate1{
// 	0%{transfrom: rotate(0deg);}
// 	25%{transfrom: rotate(20deg);}
// 	50%{transfrom: rotate(0deg);}
// 	75%{transfrom: rotate(-20deg);}
// 	100%{transfrom: rotate(0deg);}
// }