
/*
使文字周围的高亮边框消除
-webkit-tap-highlight-color:transparent;

使手机端端的input表单元素的表现正常
-webkit-appearance: none; 

使元素禁止保存
-webkit-touch-callout: none;

使手机端滑屏更加流畅
-webkit-overflow-scrolling:touch;

使手机滚动条消失
-webkit-scrollbar

*/

*{margin: 0; padding: 0; font-size: 12px; line-height:20px;
 -webkit-tap-highlight-color:transparent; 
 -webkit-appearance:none; color:#232222;}
body{background-color: #feffff;}
a, img {-webkit-touch-callout: none; }
body{-webkit-overflow-scrolling:touch;}
body::-webkit-scrollbar{width: 0px;}
textarea::-webkit-scrollbar{width: 0px;}
div::-webkit-scrollbar{width:0px;}
a:focus,input:focus,div:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);}
img{display: block; border: none 0; width: 100%;}
/*解决ios取消圆角问题*/
input{border-radius:0;}
input,textarea{border: 0 none; display: block;}
input[type=search] { -webkit-appearance: none; }
::-webkit-search-cancel-button { -webkit-appearance: none; }
::-webkit-search-results-button { -webkit-appearance: none; }
.d-block{display: block;}
.d-none{display: none;}
.v-none{visibility: hidden;}
/*文字和li重置*/
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{text-decoration: none;}
li{list-style: none;}
/*浮动和定位*/
.fl{float: left;}
.fr{float: right;}
.clear:after {clear:both;visibility:hidden;content:"";display:block;}
.rel{position: relative;}
.abs{position: absolute;}
.txt-over1{overflow: hidden;text-overflow:ellipsis;white-space:nowrap;
	display: block;}

